body {
    text-align: center;
    background-color: antiquewhite;
}

.timer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid;
    background-color: brown;
    color: antiquewhite;
    font-size: medium;
    font-weight: 500;
    padding: 15px 30px;
    margin: 15px;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid;
    background-color: brown;
    color: antiquewhite;
    font-size: medium;
    font-weight: 500;
    padding: 15px 30px;
    margin: 15px;
}

button:hover {
    background-color: antiquewhite;
    color: brown;
    transition-duration: 0.4s;
}

.lives {
    height: 22px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    background-color: rgb(248, 224, 192);
}